
html, body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    display:flex;
    background-color: Gainsboro;
	font: 18px 'Open Sans', sans-serif;
}

.input {
    margin: auto;
    width: 100%;
    border: 1px solid lightgray;
    padding: 0%;
    margin-top: 10px;
    font: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.checkbox:hover {
    background-color: cyan;
    padding:8px;
}

.checkbox {
    background-color: white;
    padding:8px;
}

#checkbox:focus {     
    background-color:yellow;  
    font-size:50px;  
}

form{
    margin: auto;
    width: auto;
    height:auto;
    background-color: white;
    padding:20px;
}

h1{
    font:inherit;
    text-align: center;
    font-size: 26px;
}
  
