{% extends 'base.html' %}

{% block title %}Raw Form Example{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="static/css/styles.css">    
</head>
<body>
    <form method="POST">
        <p style="text-align: center;">{{question_counter+"/"+max_questions}}</p>
        <p style="text-align: justify;">Por favor selecione o vídeo que melhor se encaixa com a própria <br> música de fundo.</p>
        <table>
          <tr>
            <th>a)<input type="radio" name="choice" value="{{[0,video]}}"></th>
            <th>b)<input type="radio" name="choice" value="{{[1,video]}}"></th>
            <th>c)<input type="radio" name="choice" value="{{[2,video]}}"></th>
          </tr>
          <tr>
            <td><video controls="preload:auto" class="checkbox" src="{{video[0]}}" type"video/mp4" height="280"></video></td>
            <td><video controls="" class="checkbox" src="{{video[1]}}" type"video/mp4" height="280"></video></td>
            <td><video controls="" class="checkbox" src="{{video[2]}}" type"video/mp4" height="280"></video></td>
          </tr>
        </table>
        <input type="submit" value="Escolher" class="input">
    </form>
</body>
{% endblock %}